.main {
    background: #161C26;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
}

.ctas {
  display: flex;
  padding: 0 20rem;
}