@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600i');

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

body {
	overscroll-behavior: none;
}

html,
body,
p {
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
}
