@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600i');


/* @todo: Apply a 1200px content wrapper, so things don't fly away on wide screens: https://cl.ly/3E181j3S2u0x */
/* @todo: Make sure there is no vertical scrolling (use overflow: hidden for example) */

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html, body, p {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}
