.header {
	padding-top: 6rem;
	position: relative;
	color: #fff;
	background: #161c26;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	margin-top: 2rem;
	font-size: 3rem;
	line-height: 3rem;
	font-weight: 600;
}

.subTitle {
	margin-top: 1.5rem;
	font-size: 1.25rem;
	color: #7f8fa4;
}

.button {
	margin-top: 3.125rem;
	background: linear-gradient(180deg, #687bf7 0%, #8050ef 97.78%);
	border-radius: 0.25rem;
	border: none;
	color: #fff;
	padding: 0.5rem 2.5rem;
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 1rem;
	font-weight: 600;
	font-size: 0.8rem;
	cursor: pointer;
}

.text {
	margin-top: 1rem;
	font-size: 0.875rem;
	line-height: 1.125rem;
	font-weight: 300;
	max-width: 177px;
	text-align: center;
}

.headerAppImage {
	position: absolute;
	bottom: 4%;
	max-width: 870px;
	width: 60%;
	box-shadow: 0 0 120px rgba(0, 0, 0, 0.5);
}

.divider {
	height: 100px;
	width: 100%;
	background: linear-gradient(180.99deg, rgba(104, 123, 247, 0.1) 3.58%, rgba(128, 80, 239, 0) 95.54%);
}

@media (max-width: 768px) {
	.title {
		text-align: center;
	}

	.subTitle {
		padding: 0 7rem;
		text-align: center;
	}

	.divider {
		height: 320px;
	}
}

@media (max-width: 375px) {
	.header {
		padding-top: 5rem;
	}

	.title {
		font-size: 24px;
		text-align: center;
		line-height: 45px;
	}

	.subTitle {
		font-size: 1rem;
		line-height: 1rem;
		text-align: center;
		padding: 0 28px;
	}

	.divider {
		height: 150px;
	}
}
